<a href="https://colab.research.google.com/github/jdavilasoft/DSRP-Taller-Virtual-python/blob/main/DSRP_Taller_Virtual_Python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Este es mi primer comentario
print('Hola, bienvenidos a Python')

Hola, bienvenidos a Python

In [ ]:
# Trabajando con variables de texto
nombre = 'Javier'
edad = 38
altura = 1.65
promedio = 20
curso = 'Python'

# Mostrando variables
print('Mi nombre es', nombre, 'tengo', edad, 'anios, y mi altura es', altura)
print('Hola, mi nombre es', nombre, ', mi clase favorita es', curso, 'y mi promedio es', promedio)

Mi nombre es Javier tengo 38 anios, y mi altura es 1.65
Hola, mi nombre es Javier , mi clase favorita es Python y mi promedio es 20

In [ ]:
# Trabajando con variables numericas
x = 10
y = 5.5

# Mostrar valores
print('El valor de x es', x)
print('El valor de y es', y)

# Operaciones
suma = x + y
print('La suma es', suma)

resta = x -y
print('La suma es', resta)

producto = x * y
print('La suma es', producto)

division = x / y
print('La suma es', division)

El valor de x es 10
El valor de y es 5.5
La suma es 15.5
La suma es 4.5
La suma es 55.0
La suma es 1.8181818181818181

In [ ]:
# Importando librerias
import math
# Calculando el factorial de un numero
valor = 5
resultado = math.factorial(valor)
print('El factorail de', valor, 'es', resultado)

El factorail de 5 es 120

In [ ]:
# Condicionales
nota_final = 13
if 0 <= nota_final and nota_final <= 20:
  if nota_final < 14:
    print('Desaprobaste el curso')
  elif nota_final == 20:
      print('Felicidades')
  else:
    print('Aprobaste el curso')
else:
  print('Nota no vÃ¡lida')

Desaprobaste el curso

In [ ]:
print('******************')
# Bucle for ascendente
for i in range(5):
  print(i + 1)

print('******************')
# Bucle for descendente
for i in range(5, 0, -1):
  print(i)

print('******************')
# Ejemplo tabla de multiplicar
numero = 2
print('Tabla de multiplicar del', numero)
for i in range(13):
  print(i, 'x', numero, '=', i * numero)

******************
1
2
3
4
5
******************
5
4
3
2
1
******************
Tabla de multiplicar del 2
0 x 2 = 0
1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20
11 x 2 = 22
12 x 2 = 24